body {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

form {
  margin: 3rem auto;
  width: 90%;
  max-width: 30rem;
  padding: 1rem;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.26);
}

button {
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
  background-color: #b700ff;
  color: #ffffff;
  border: 1px solid #b700ff;
}

button:hover,
button:active {
  background-color: #c42dff;
  border-color: #c42dff;
}

.form-control {
  margin-bottom: 1rem;
}

.form-control input,
.form-control textarea {
  font: inherit;
  padding: 0.25rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  display: block;
  width: 28.5rem;
}

.form-control input:focus {
  border-color: #b700ff;
  outline: none;
  background-color: #faefff;
}

.form-control label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

.errorlist {
  list-style: none;
  margin: 0.5rem 0;
  padding: 0;
  color: #b40000;
}

.errors input {
  border-color: #b40000;
  background-color: #ffe2e2;
}

.errors label {
  color: #b40000;
}
